<div class="mb-6 relative">
  <label
    [class]="{
      'text-red-600':
        control()?.errors && control()?.touched,
      }"
    [for]="idInput()"
    class="block mb-2 text-sm font-medium text-gray-900"
    >{{ label() }}</label
  >
  @if (element() == "input") {
  <input
    [class]="{
      'border-red-600': control()?.errors && control()?.touched,
      'border-green-700': control()?.valid && control()?.touched
    }"
    [formControl]="control()"
    [type]="typeInput() || (showPassword() ? 'text' : 'password')"
    [id]="idInput()"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mb-0.5 block w-full p-2.5"
    [placeholder]="placeholderInput()"
    required
  />
  }@else if (element() == "textArea") {
  <textarea
    [class]="{
      'border-red-600': control()?.errors && control()?.touched,
      'border-green-700': control()?.valid && control()?.touched
    }"
    [formControl]="control()"
    [id]="idInput()"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mb-0.5 block w-full p-2.5"
    [placeholder]="placeholderInput()"
    required
  ></textarea
  >} @if(idInput() == 'password' || idInput() == 'rePassword'){
  <span (click)="showPassword.set(!showPassword())">
    @if (showPassword()) {
    <i class="fas fa-eye-slash absolute -translate-y-7 right-3"></i>
    } @else {<i class="fas fa-eye absolute -translate-y-7 right-3"></i>}
  </span>
  } @if (control()?.errors && control()?.touched) {
  <div
    class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
    role="alert"
  >
    <span class="sr-only">Danger</span>
    <div>
      <ul class="mt-1.5 list-disc list-inside">
        @if(control()?.hasError('required')) {
        <li>This field is required</li>
        }@if(control()?.hasError('minlength')) {
        <li>
          Minimum length is
          {{control()?.errors?.['minlength']?.requiredLength}} characters
        </li>
        }@if(control()?.hasError('maxlength')) {
        <li>
          Maximum length is
          {{control()?.errors?.['maxlength']?.requiredLength}} characters
        </li>
        }@if (control()?.hasError('pattern')) {
        <li>Invalid format</li>
        }@if (control()?.hasError('email')) {
        <li>Invalid email format</li>
        }@if (control()?.hasError('mismatch')) {
        <li>Passwords do not match</li>
        }
      </ul>
    </div>
  </div>
  }
</div>
